.nav-bar{
    width: 100%;
    min-height: 10dvh;
    display: flex;
  justify-content: space-between;
  padding: 0 5%;
  background-color: white;
  position: relative;
}

.nav-list{
    display: flex;
   justify-content: flex-end;
    list-style-type: none;
   
    align-items: center;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: var(--vert);
    font-size: 1.1rem;
    font-weight: 400px;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    position: absolute;
   top: -8px;
   z-index: 5;
}
.container_background{
    background: url(../assets/Chat_comptoir.jpg);
    min-height: 700px;
    min-width: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.container_background{
    position: relative;
}
.txt_background{
   position: absolute;
   top: 50%;
   left: 55%;
   transform: translate(-120%, -50%);
   color: white;
   -webkit-transform: translate(-120%, -50%);
   -moz-transform: translate(-120%, -50%);
   -ms-transform: translate(-120%, -50%);
   -o-transform: translate(-120%, -50%);
   font-size: 2rem;
   
}

.txt_background h1{
   text-shadow: 0 0 5px black;
}

.title2 {
    color: white;
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.concept {
    padding-top: 20px;
    font-size: 1.8rem;
}

.txt_concept {
    padding-top: 30px;
    font-size: 1.3rem;
    text-align: justify;
}

.concept_container {
    width:50%;
    margin: auto;
    line-height: 150%;
    color : white
}

/* Block */
.card {
    width: 275px;
  
    font-family: 'Playfair Display', serif;
    text-align: center;
  
    transition: all .125s;
    transform: scale(1) translateY(0px);
  }
  
  /* Elements */
  .card__wrapper {
    padding-top: .1px;
    padding-bottom: .1px;
    position: relative;
  
    background-color: #ffffff;
    color: #999999;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
  }
  .card__wrapper:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 15px;
    right: 15px;
    bottom: 0;
    left: 15px;
  
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    transition: all .125s;
    transform: scale(1) translateY(0px);
  }
  .card__box {
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .card__item  {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card__item--small  {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card__feature {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .card__img {
    display: block;
    max-width: 100%;
    height: 240px;
    width: 275px;
  }
  .card__header {
    position: relative;
    z-index: 1;
  }
  .card__title {
    color: #222222;
  
    font-size: 30px;
    font-weight: 400;
    line-height: 1.25;
  }
  .card__label {
    color: #cccccc;
  
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  .card__divider {
    display: block;
    width: 100%;
    height: 16px;
  
    border: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyOCAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjggMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNERURFREUiIGQ9Ik0yNy41LDdoLTZDMjEuMiwzLjEsMTgsMCwxNCwwUzYuOCwzLjEsNi41LDdoLTZDMC4yLDcsMCw3LjIsMCw3LjVTMC4yLDgsMC41LDhoNmMwLjMsMy45LDMuNSw3LDcuNSw3czcuMi0zLjEsNy41LTdoNkMyNy44LDgsMjgsNy44LDI4LDcuNVMyNy44LDcsMjcuNSw3eiBNMTQsMWMzLjQsMCw2LjIsMi42LDYuNSw2SDcuNUM3LjgsMy42LDEwLjYsMSwxNCwxeiBNMTQsMTRjLTMuNCwwLTYuMi0yLjYtNi41LTZoMTIuOUMyMC4yLDExLjQsMTcuNCwxNCwxNCwxNHoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .card__body {
    font-size: 16px;
    line-height: 1.75;
  }
  
  /* Modifiers */
  .card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  .card:hover .card__wrapper {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
  }
  .card:hover .card__wrapper:after {
    transform: scale(0.95) translateY(10px);
  }
  
  /* Demo */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e9ebea;
    text-align: center;
  }
  .card {
    display: inline-block;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    top: 50%;
  }


  /* media grid  */
  html {
    box-sizing: border-box;
  }
  

  body {
    background-color: #171414;
  }
  
  .image-grid {
    padding: 40px;
  }
  
  .image-row {
    display: flex;  
  }
  
  .image-row .image {
    margin: 12px;
    height: 240px;  
  }
  
  .image { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 
                0 6px 20px rgba(0, 0, 0, 0.15),
                0 6px 20px rgba(0, 0, 0, 0.7);
  }
  

  
  .image-02 {
    background-image: url(../image/restau.webp); 
    flex: 1;  
  }
  
  .image-03 {
    background-image: url(../image/crepes.avif);  
    flex: 2;  
  }
  
  .image-04 {
    background-image: url(../image/escalope.avif); 
    flex: 1;
  }
  
  .image-05 {
    background-image: url(../image/cat_drink.webp);
    flex: 2;
  }
  
  .image-06 {
    background-image: url(../image/laplanche.avif);  
    flex: 2;
  }
  
  .image-07 {
    background-image: url(../image/penneSauceTomate.avif); 
    flex: 1;
  }
  
  .image-08 {
    background-image: url(../image/plateauCharcuterie.jpg);  
    flex: 3;
  }
  
  .image-09 {
    background-image: url(../image/Saumon.jpg);  
    flex: 1;
  }
  
  .image-10 {
    background-image: url(../image/chats.jpg); 
    flex: 1;
  }
  
  
  
  @media screen and (max-width: 400px) {
    .image-row {
      flex-direction: column;
    }
    
    .image-row .image {
      flex-basis: auto;
    }
  }


